openapi: 3.1.0
info:
  title: Plorea Public Integration API
  version: 2.9.0-draft
  summary: Canonical API-first contract for Plorea integrations (v2.9 draft)
  description: "Draft OpenAPI contract for Plorea's public integration layer.\n\n\
    Design goals:\n  - Use business-oriented resource names externally.\n  - Keep\
    \ database naming internal.\n  - Replace legacy GET-with-body patterns with query/path\
    \ params.\n  - Normalize response envelopes to data/meta/error.\n  - Support a\
    \ single Order Core across channels.\n\nThis spec is intended as a developer-ready\
    \ starting point for implementation,\nmock servers, contract review, and compatibility\
    \ mapping from legacy endpoints.\n\n\nVersion 2.1 additions:\n  - operationId\
    \ on all operations\n  - x-db-mapping on core schemas\n  - webhook event payload\
    \ schemas and examples\n  - expanded reusable error responses\n  - compatibility\
    \ notes for legacy partners/* and terminal/* migration\n\n\nVersion 2.2 additions:\n\
    \  - operationId naming cleanup for consistency\n  - x-domain-owner and x-audience\
    \ metadata on tags and operations\n  - x-tagGroups for clearer domain navigation\
    \ in docs\n  - lifecycle/deprecation metadata for compatibility paths and schemas\n\
    \  - standardized naming conventions section for public contract governance\n\n\
    \nVersion 2.3 additions:\n  - standardized 422 validation error usage across write\
    \ endpoints\n  - canonical list controls for pagination, sorting, sparse fieldsets,\
    \ and filtering guidance\n  - webhook signing headers and delivery security model\n\
    \  - expanded order edge-case examples for checkout and state transitions\n  -\
    \ reusable list contract metadata for developers and SDK generation\n\n\nVersion\
    \ 2.4 additions:\n  - enum cleanup and canonical naming guidance for public values\n\
    \  - request schema required-field review notes and PATCH semantics clarifications\n\
    \  - concrete response examples on list endpoints\n  - webhook retry policy and\
    \ delivery status model\n  - explicit legacy compatibility inventory with deprecation\
    \ targets\n\n\n\nVersion 2.5 additions:\n  - field-level validation guidance on\
    \ all public write request schemas\n  - standard filter contract per core resource\
    \ domain\n  - explicit idempotency policy metadata per write operation and globally\n\
    \  - webhook eventVersion and schemaVersion fields for event evolution\n\n\n\n\
    Version 2.6 additions:\n  - true PATCH schemas without inherited required fields\n\
    \  - normalized catalog item pricing/tax schema and examples\n  - corrected address\
    \ country example types\n  - explicit catalog read-only contract metadata\n  -\
    \ split OrderSummary vs Order detail examples for clearer SDK generation\n  -\
    \ consistent list/get/create/update operationId naming\n  - documented canonical\
    \ order state machine and allowed transitions\n\n\nVersion 2.7 additions:\n  -\
    \ implementation-readiness pass on nested request schemas and nullability notes\n\
    \  - explicit AddressInput schema for write operations\n  - fixed remaining PATCH\
    \ semantics gap on LocationUpdateRequest\n  - stronger required/minProperties\
    \ rules on partial updates\n  - consistency pass on core examples and schema descriptions\n\
    \  - added summary/detail examples for key read models\n\n\nVersion 2.9 additions:\n\
    \  - added inbound sync domain for upstream master-data ownership\n  - introduced\
    \ write-optimized endpoints for companies, locations, employees, menus, items,\
    \ modifiers, and VAT groups\n  - added batch item upsert for realistic partner\
    \ catalog synchronization\n  - documented source-system metadata, external references,\
    \ and idempotent sync behavior\n"
servers:
- url: https://api.plorea.com
  description: Production
- url: https://staging-api.plorea.com
  description: Staging
tags:
- name: Auth
  x-domain-owner: Platform / IAM
  x-audience: public
- name: Device Sessions
  x-domain-owner: Platform / IAM
  x-audience: public
- name: Companies
  x-domain-owner: Core Configuration
  x-audience: public
- name: Locations
  x-domain-owner: Core Configuration
  x-audience: public
- name: Employees
  x-domain-owner: Core Configuration
  x-audience: public
- name: Devices
  x-domain-owner: Order Experience
  x-audience: public
- name: Catalog
  x-domain-owner: Catalog & Pricing
  x-audience: public
- name: Availability
  x-domain-owner: Order Core
  x-audience: public
- name: Orders
  x-domain-owner: Order Core
  x-audience: public
- name: Webhooks
  x-domain-owner: Integrations
  x-audience: public
- name: Inbound Sync
  description: Write-optimized inbound synchronization endpoints for upstream master-data
    systems such as Amendo and RMSV.
  x-domain-owner: Integrations / Master Data Sync
  x-audience: partner-write
security:
- bearerAuth: []
paths:
  /api/v2/auth/login:
    post:
      tags:
      - Auth
      summary: Authenticate integration user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              basic:
                value:
                  email: partner@plorea.com
                  password: strong-secret
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthLoginResponse'
              examples:
                success:
                  value:
                    data:
                      token: jwt_xxx
                      tokenType: Bearer
                      expiresAt: '2026-03-09T21:00:00+01:00'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: createAuthToken
      x-domain-owner: Platform / IAM
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
  /api/v2/me:
    get:
      tags:
      - Auth
      summary: Get authenticated integration context
      responses:
        '200':
          description: Current authenticated principal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getAuthenticatedContext
      x-domain-owner: Platform / IAM
      x-audience: public
      x-release-stage: draft
  /api/v2/device-sessions:
    post:
      tags:
      - Device Sessions
      summary: Resolve a device token into a runtime session context
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSessionCreateRequest'
            examples:
              qrDevice:
                value:
                  deviceToken: devtok_live_xxx
      responses:
        '201':
          description: Device session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSessionResponse'
              examples:
                resolved:
                  value:
                    data:
                      sessionToken: jwt_session_xxx
                      company:
                        id: cmp_120
                        name: Plorea Example
                      location:
                        id: loc_10
                        name: Steinkjer Sentrum
                        timezone: Europe/Oslo
                      device:
                        id: dev_8
                        name: QR Main Entrance
                        type: QR
                        active: true
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: createDeviceSession
      x-domain-owner: Platform / IAM
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: true
        header: Idempotency-Key
        behavior: Returns the original result for safe client retries.
  /api/v2/companies:
    get:
      tags:
      - Companies
      summary: List companies
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - name: name
        in: query
        schema:
          type: string
      - name: organizationNumber
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Companies list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyListResponse'
              examples:
                default:
                  value:
                    data:
                    - id: cmp_120
                      name: Plorea Example
                      organizationNumber: '1234'
                      email: contact@example.com
                      phone: '+4744559988'
                      website: https://example.com
                      country:
                        id: cty_30
                        iso: 'NO'
                        name: Norway
                      currency:
                        id: cur_89
                        code: NOK
                        symbol: kr
                      language:
                        id: lang_1
                        code: nb
                      capabilities:
                        menuInUse: true
                        adminCodeEnabled: true
                        adyenEcomEnabled: true
                      settings: {}
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: listCompanies
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
      x-list-contract: canonical-page-sort-fields
      x-supported-filters: companies
    post:
      tags:
      - Companies
      summary: Create company
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyCreateRequest'
            examples:
              create:
                value:
                  name: Plorea Example
                  organizationNumber: '1234'
                  website: https://example.com
                  phone: '+4744559988'
                  email: contact@example.com
                  about: Something about this company
                  countryId: 30
                  currencyId: 89
                  languageId: 1
                  shortCode: '1234'
                  capabilities:
                    menuInUse: false
                    adminCodeEnabled: true
                    adyenEcomEnabled: true
                  settings: {}
      responses:
        '201':
          description: Company created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: createCompany
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: true
        header: Idempotency-Key
        behavior: Returns the original result for safe client retries.
  /api/v2/companies/{companyId}:
    get:
      tags:
      - Companies
      summary: Get company
      parameters:
      - $ref: '#/components/parameters/CompanyId'
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getCompany
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
    patch:
      tags:
      - Companies
      summary: Update company
      parameters:
      - $ref: '#/components/parameters/CompanyId'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateRequest'
            examples:
              update:
                value:
                  phone: '+4799999999'
                  capabilities:
                    adyenEcomEnabled: false
      responses:
        '200':
          description: Company updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: updateCompany
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
  /api/v2/companies/{companyId}/locations:
    get:
      tags:
      - Locations
      summary: List locations for company
      parameters:
      - $ref: '#/components/parameters/CompanyId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - name: name
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Locations list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListResponse'
              examples:
                list:
                  value:
                    data:
                    - id: loc_10
                      companyId: cmp_120
                      name: Steinkjer Sentrum
                      currency:
                        id: cur_89
                        code: NOK
                        symbol: kr
                      address:
                        street: Arve Skjeflos Veg 8
                        postalCode: '7713'
                        city: Steinkjer
                        country: 'NO'
                      timezone: Europe/Oslo
                      formatting:
                        dateFormat: DD.MM.YYYY
                        timeFormat: HH:mm
                        thousandsSeparator: ' '
                        decimalSeparator: ','
                        decimalPrecision: 2
                      features:
                        tipPayment: false
                        cloudPrint: true
                        splitPayment: false
                      active: true
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
                default:
                  value:
                    data:
                    - id: loc_10
                      companyId: cmp_120
                      name: Steinkjer Sentrum
                      currency:
                        id: cur_89
                        code: NOK
                        symbol: kr
                      address:
                        country: 'NO'
                        city: Steinkjer
                        street: Arve Skjeflos Veg 8
                        postalCode: '7713'
                      timezone: Europe/Oslo
                      formatting:
                        dateFormat: DD.MM.YYYY
                        timeFormat: HH:mm
                        thousandsSeparator: ' '
                        decimalSeparator: ','
                        decimalPrecision: 2
                      features:
                        tipPayment: false
                        cloudPrint: true
                        splitPayment: false
                      active: true
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: listCompanyLocations
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
      x-list-contract: canonical-page-sort-fields
      x-supported-filters: locations
    post:
      tags:
      - Locations
      summary: Create location under company
      parameters:
      - $ref: '#/components/parameters/CompanyId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateRequest'
            examples:
              create:
                value:
                  name: Steinkjer Sentrum
                  currencyId: 89
                  address:
                    street: Arve Skjeflos Veg 8
                    postalCode: '7713'
                    city: Steinkjer
                    country: 'NO'
                  phone: '+4797874646'
                  timezone: Europe/Oslo
                  formatting:
                    dateFormat: DD.MM.YYYY
                    timeFormat: HH:mm
                    thousandsSeparator: ' '
                    decimalSeparator: ','
                    decimalPrecision: 2
                  features:
                    tipPayment: false
                    cloudPrint: true
                    splitPayment: false
                  settings: {}
      responses:
        '201':
          description: Location created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: createCompanyLocation
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: true
        header: Idempotency-Key
        behavior: Returns the original result for safe client retries.
  /api/v2/locations/{locationId}:
    get:
      tags:
      - Locations
      summary: Get location
      parameters:
      - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: Location details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getLocation
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
    patch:
      tags:
      - Locations
      summary: Update location
      parameters:
      - $ref: '#/components/parameters/LocationId'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/LocationUpdateRequest'
      responses:
        '200':
          description: Location updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: updateLocation
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
  /api/v2/companies/{companyId}/employees:
    get:
      tags:
      - Employees
      summary: List employees for company
      parameters:
      - $ref: '#/components/parameters/CompanyId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - name: locationId
        in: query
        schema:
          type: string
      - name: email
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Employees list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeListResponse'
              examples:
                default:
                  value:
                    data:
                    - id: emp_37
                      companyId: cmp_120
                      locationId: loc_10
                      name: Juazeiro
                      email: juazeiro@example.com
                      role: cashier
                      permissions:
                        admin: false
                        adminView: false
                      shortCode: '2203'
                      externalId: rmsv-emp-2203
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: listCompanyEmployees
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
      x-list-contract: canonical-page-sort-fields
      x-supported-filters: employees
    post:
      tags:
      - Employees
      summary: Create employee
      parameters:
      - $ref: '#/components/parameters/CompanyId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCreateRequest'
            examples:
              create:
                value:
                  locationId: loc_10
                  iamGroupId: grp_37
                  admin: true
                  name: Juazeiro
                  email: juazeiro@example.com
                  shortCode: '2203'
                  externalId: rmsv-emp-2203
      responses:
        '201':
          description: Employee created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: createCompanyEmployee
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: true
        header: Idempotency-Key
        behavior: Returns the original result for safe client retries.
  /api/v2/employees/{employeeId}:
    get:
      tags:
      - Employees
      summary: Get employee
      parameters:
      - $ref: '#/components/parameters/EmployeeId'
      responses:
        '200':
          description: Employee details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getEmployee
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
    patch:
      tags:
      - Employees
      summary: Update employee
      parameters:
      - $ref: '#/components/parameters/EmployeeId'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateRequest'
      responses:
        '200':
          description: Employee updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: updateEmployee
      x-domain-owner: Core Configuration
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
  /api/v2/locations/{locationId}/devices:
    get:
      tags:
      - Devices
      summary: List devices for location
      parameters:
      - $ref: '#/components/parameters/LocationId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - name: type
        in: query
        schema:
          $ref: '#/components/schemas/DeviceType'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Devices list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceListResponse'
              examples:
                default:
                  value:
                    data:
                    - id: dev_8
                      locationId: loc_10
                      companyId: cmp_120
                      name: QR Main Entrance
                      type: QR
                      active: true
                      favoriteGroupId: favgrp_6
                      favoritesSetupId: favsetup_18
                      hardware:
                        printerId: prn_16
                        kitchenPrinterId: prn_14
                      ordering:
                        takeaway: true
                        cardOnly: false
                        searchEnabled: true
                      pos:
                        cashierActive: false
                        cashierAmount: 28
                        openCashDrawer: true
                        saleLogout: true
                        autoLogout: false
                        autoLogoutTime: 9
                        showFavoriteTabs: true
                        tableMapDisabled: true
                      settings: {}
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: listLocationDevices
      x-domain-owner: Order Experience
      x-audience: public
      x-release-stage: draft
      x-list-contract: canonical-page-sort-fields
      x-supported-filters: devices
    post:
      tags:
      - Devices
      summary: Create device
      parameters:
      - $ref: '#/components/parameters/LocationId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceCreateRequest'
            examples:
              create:
                value:
                  name: QR Main Entrance
                  type: QR
                  active: true
                  favoriteGroupId: favgrp_6
                  favoritesSetupId: favsetup_18
                  hardware:
                    printerId: prn_16
                    kitchenPrinterId: prn_14
                  ordering:
                    takeaway: true
                    cardOnly: false
                    searchEnabled: true
                  pos:
                    cashierActive: false
                    cashierAmount: 28
                    openCashDrawer: true
                    saleLogout: true
                    autoLogout: false
                    autoLogoutTime: 9
                    showFavoriteTabs: true
                    tableMapDisabled: true
                  settings: {}
      responses:
        '201':
          description: Device created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: createLocationDevice
      x-domain-owner: Order Experience
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: true
        header: Idempotency-Key
        behavior: Returns the original result for safe client retries.
  /api/v2/devices/{deviceId}:
    get:
      tags:
      - Devices
      summary: Get device
      parameters:
      - $ref: '#/components/parameters/DeviceId'
      responses:
        '200':
          description: Device details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getDevice
      x-domain-owner: Order Experience
      x-audience: public
      x-release-stage: draft
    patch:
      tags:
      - Devices
      summary: Update device
      parameters:
      - $ref: '#/components/parameters/DeviceId'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/DeviceUpdateRequest'
      responses:
        '200':
          description: Device updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: updateDevice
      x-domain-owner: Order Experience
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
  /api/v2/devices/{deviceId}/activate:
    post:
      tags:
      - Devices
      summary: Activate device
      parameters:
      - $ref: '#/components/parameters/DeviceId'
      responses:
        '200':
          description: Device activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: activateDevice
      x-domain-owner: Order Experience
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
  /api/v2/devices/{deviceId}/deactivate:
    post:
      tags:
      - Devices
      summary: Deactivate device
      parameters:
      - $ref: '#/components/parameters/DeviceId'
      responses:
        '200':
          description: Device deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: deactivateDevice
      x-domain-owner: Order Experience
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
  /api/v2/catalog/menus:
    get:
      tags:
      - Catalog
      summary: List menus
      parameters:
      - name: companyId
        in: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Menus list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuListResponse'
              examples:
                default:
                  value:
                    data:
                    - id: menu_78
                      companyId: cmp_120
                      name: Main Menu
                      active: true
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: listCatalogMenus
      x-domain-owner: Catalog & Pricing
      x-audience: public-read-only
      x-release-stage: draft
      x-list-contract: canonical-page-sort-fields
      x-resource-mode: read-only
      description: Read-only public catalog contract. Catalog mutations are handled
        via internal admin workflows or upstream master-data synchronization, not
        through this public integration API.
  /api/v2/catalog/menus/{menuId}:
    get:
      tags:
      - Catalog
      summary: Get menu
      parameters:
      - $ref: '#/components/parameters/MenuId'
      responses:
        '200':
          description: Menu details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getCatalogMenu
      x-domain-owner: Catalog & Pricing
      x-audience: public-read-only
      x-release-stage: draft
      x-resource-mode: read-only
      description: Read-only public catalog contract. Catalog mutations are handled
        via internal admin workflows or upstream master-data synchronization, not
        through this public integration API.
  /api/v2/catalog/items:
    get:
      tags:
      - Catalog
      summary: List items for menu
      parameters:
      - name: companyId
        in: query
        required: true
        schema:
          type: string
      - name: menuId
        in: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Items list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItemListResponse'
              examples:
                default:
                  value:
                    data:
                    - id: item_123
                      menuId: menu_78
                      name: Burger
                      price:
                        amount: 159
                        currencyCode: NOK
                      vatGroup:
                        id: vat_1
                        name: Food
                        ratePercent: 15
                      active: true
                      plu: BURG-001
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: listCatalogItems
      x-domain-owner: Catalog & Pricing
      x-audience: public-read-only
      x-release-stage: draft
      x-list-contract: canonical-page-sort-fields
      x-supported-filters: catalogItems
      x-resource-mode: read-only
      description: Read-only public catalog contract. Catalog mutations are handled
        via internal admin workflows or upstream master-data synchronization, not
        through this public integration API.
  /api/v2/catalog/items/{itemId}:
    get:
      tags:
      - Catalog
      summary: Get item
      parameters:
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: Item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItemResponse'
              examples:
                default:
                  value:
                    data:
                      id: item_123
                      menuId: menu_78
                      categoryId: cat_10
                      vatGroupId: vat_1
                      vatGroup:
                        id: vat_1
                        name: Food
                        ratePercent: 15
                      plu: BURG-001
                      name: Burger
                      description: Classic burger
                      price:
                        amount: 159
                        currencyCode: NOK
                      active: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getCatalogItem
      x-domain-owner: Catalog & Pricing
      x-audience: public-read-only
      x-release-stage: draft
      x-resource-mode: read-only
      description: Read-only public catalog contract. Catalog mutations are handled
        via internal admin workflows or upstream master-data synchronization, not
        through this public integration API.
  /api/v2/catalog/items/{itemId}/modifiers:
    get:
      tags:
      - Catalog
      summary: List item modifiers
      parameters:
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: Item modifiers list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifierGroupListResponse'
              examples:
                default:
                  value:
                    data:
                    - id: modgrp_1
                      name: Choose sauce
                      required: false
                      modifiers:
                      - id: mod_1
                        name: BBQ
                        price:
                          amount: 0
                          currencyCode: NOK
                        active: true
                    meta:
                      page: 1
                      pageSize: 50
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: listCatalogItemModifiers
      x-domain-owner: Catalog & Pricing
      x-audience: public-read-only
      x-release-stage: draft
      x-resource-mode: read-only
      description: Read-only public catalog contract. Catalog mutations are handled
        via internal admin workflows or upstream master-data synchronization, not
        through this public integration API.
  /api/v2/catalog/vat-groups:
    get:
      tags:
      - Catalog
      summary: List VAT groups for company
      parameters:
      - name: companyId
        in: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: VAT groups list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatGroupListResponse'
              examples:
                default:
                  value:
                    data:
                    - id: vat_1
                      companyId: cmp_120
                      name: Food
                      ratePercent: 15
                      active: true
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: listCatalogVatGroups
      x-domain-owner: Catalog & Pricing
      x-audience: public-read-only
      x-release-stage: draft
      x-list-contract: canonical-page-sort-fields
      x-resource-mode: read-only
      description: Read-only public catalog contract. Catalog mutations are handled
        via internal admin workflows or upstream master-data synchronization, not
        through this public integration API.
  /api/v2/inbound/companies:
    post:
      tags:
      - Inbound Sync
      summary: Upsert company from upstream source system
      operationId: upsertInboundCompany
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      x-idempotency:
        supported: true
        scope: resource + sourceSystem + externalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundCompanyUpsertRequest'
            examples:
              default:
                value:
                  sourceSystem: RMSV
                  externalId: rmsv-company-120
                  name: Plorea Example
                  organizationNumber: '999888777'
                  email: contact@example.com
                  phone: '+4744559988'
                  countryCode: 'NO'
                  currencyCode: NOK
                  languageCode: nb
                  updatedAtSource: '2026-03-10T10:15:00Z'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
              examples:
                accepted:
                  value:
                    data:
                      resourceType: company
                      resourceId: cmp_120
                      externalId: rmsv-company-120
                      sourceSystem: RMSV
                      syncStatus: UPSERTED
                      acceptedAt: '2026-03-10T10:15:02Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/locations:
    post:
      tags:
      - Inbound Sync
      summary: Upsert location from upstream source system
      operationId: upsertInboundLocation
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      x-idempotency:
        supported: true
        scope: resource + sourceSystem + externalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundLocationUpsertRequest'
            examples:
              default:
                value:
                  sourceSystem: Amendo
                  externalId: amendo-location-10
                  companyExternalId: rmsv-company-120
                  name: Steinkjer Sentrum
                  address:
                    street: Arve Skjeflos Veg 8
                    postalCode: '7713'
                    city: Steinkjer
                    country: 'NO'
                  timezone: Europe/Oslo
                  currencyCode: NOK
                  active: true
                  updatedAtSource: '2026-03-10T10:20:00Z'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
              examples:
                accepted:
                  value:
                    data:
                      resourceType: location
                      resourceId: loc_10
                      externalId: amendo-location-10
                      sourceSystem: Amendo
                      syncStatus: UPSERTED
                      acceptedAt: '2026-03-10T10:20:01Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/employees:
    post:
      tags:
      - Inbound Sync
      summary: Upsert employee from upstream source system
      operationId: upsertInboundEmployee
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      x-idempotency:
        supported: true
        scope: resource + sourceSystem + externalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundEmployeeUpsertRequest'
            examples:
              default:
                value:
                  sourceSystem: RMSV
                  externalId: rmsv-employee-2203
                  companyExternalId: rmsv-company-120
                  locationExternalId: amendo-location-10
                  name: Juazeiro
                  email: juazeiro@example.com
                  role: cashier
                  active: true
                  updatedAtSource: '2026-03-10T10:25:00Z'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/catalog/menus:
    post:
      tags:
      - Inbound Sync
      summary: Upsert catalog menu from upstream source system
      operationId: upsertInboundCatalogMenu
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      x-idempotency:
        supported: true
        scope: resource + sourceSystem + externalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundCatalogMenuUpsertRequest'
            examples:
              default:
                value:
                  sourceSystem: RMSV
                  externalId: rmsv-menu-22
                  companyExternalId: rmsv-company-120
                  name: Main Menu
                  active: true
                  updatedAtSource: '2026-03-10T10:30:00Z'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/catalog/menus/{menuId}:
    patch:
      tags:
      - Inbound Sync
      summary: Patch catalog menu by Plorea menu identifier
      operationId: patchInboundCatalogMenu
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      parameters:
      - name: menuId
        in: path
        required: true
        schema:
          type: string
        description: Public Plorea menuId.
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/InboundCatalogMenuPatchRequest'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/catalog/items:
    post:
      tags:
      - Inbound Sync
      summary: Upsert catalog item from upstream source system
      operationId: upsertInboundCatalogItem
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      x-idempotency:
        supported: true
        scope: resource + sourceSystem + externalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundCatalogItemUpsertRequest'
            examples:
              default:
                value:
                  sourceSystem: RMSV
                  externalId: rmsv-item-9931
                  companyExternalId: rmsv-company-120
                  menuExternalId: rmsv-menu-22
                  name: Burger
                  description: 200g beef burger
                  price:
                    amount: 199
                    currencyCode: NOK
                  vatGroupExternalId: rmsv-vat-food-15
                  active: true
                  updatedAtSource: '2026-03-10T10:32:00Z'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
              examples:
                accepted:
                  value:
                    data:
                      resourceType: catalogItem
                      resourceId: item_123
                      externalId: rmsv-item-9931
                      sourceSystem: RMSV
                      syncStatus: UPSERTED
                      acceptedAt: '2026-03-10T10:32:01Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/catalog/items:batchUpsert:
    post:
      tags:
      - Inbound Sync
      summary: Batch upsert catalog items from upstream source system
      operationId: batchUpsertInboundCatalogItems
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      x-idempotency:
        supported: true
        scope: itemBatch + sourceSystem + batchExternalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundCatalogItemBatchUpsertRequest'
            examples:
              default:
                value:
                  sourceSystem: RMSV
                  batchExternalId: rmsv-batch-20260310-01
                  companyExternalId: rmsv-company-120
                  items:
                  - externalId: rmsv-item-9931
                    menuExternalId: rmsv-menu-22
                    name: Burger
                    description: 200g beef burger
                    price:
                      amount: 199
                      currencyCode: NOK
                    vatGroupExternalId: rmsv-vat-food-15
                    active: true
                  - externalId: rmsv-item-9932
                    menuExternalId: rmsv-menu-22
                    name: Fries
                    description: Crispy fries
                    price:
                      amount: 49
                      currencyCode: NOK
                    vatGroupExternalId: rmsv-vat-food-15
                    active: true
                  updatedAtSource: '2026-03-10T10:35:00Z'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
              examples:
                accepted:
                  value:
                    data:
                      resourceType: catalogItemBatch
                      resourceId: batch_rmsv_20260310_01
                      externalId: rmsv-batch-20260310-01
                      sourceSystem: RMSV
                      syncStatus: ACCEPTED
                      acceptedAt: '2026-03-10T10:35:02Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/catalog/items/{itemId}:
    patch:
      tags:
      - Inbound Sync
      summary: Patch catalog item by Plorea item identifier
      operationId: patchInboundCatalogItem
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
        description: Public Plorea itemId.
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/InboundCatalogItemPatchRequest'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/catalog/modifiers:
    post:
      tags:
      - Inbound Sync
      summary: Upsert catalog modifier from upstream source system
      operationId: upsertInboundCatalogModifier
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      x-idempotency:
        supported: true
        scope: resource + sourceSystem + externalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundCatalogModifierUpsertRequest'
            examples:
              default:
                value:
                  sourceSystem: RMSV
                  externalId: rmsv-mod-1
                  itemExternalId: rmsv-item-9931
                  groupName: Extras
                  name: Cheese
                  price:
                    amount: 20
                    currencyCode: NOK
                  active: true
                  updatedAtSource: '2026-03-10T10:40:00Z'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/catalog/modifiers/{modifierId}:
    patch:
      tags:
      - Inbound Sync
      summary: Patch catalog modifier by Plorea modifier identifier
      operationId: patchInboundCatalogModifier
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      parameters:
      - name: modifierId
        in: path
        required: true
        schema:
          type: string
        description: Public Plorea modifierId.
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/InboundCatalogModifierPatchRequest'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/inbound/catalog/vat-groups:
    post:
      tags:
      - Inbound Sync
      summary: Upsert VAT group from upstream source system
      operationId: upsertInboundVatGroup
      x-domain-owner: Integrations / Master Data Sync
      x-audience: partner-write
      x-release-stage: draft
      x-idempotency:
        supported: true
        scope: resource + sourceSystem + externalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundVatGroupUpsertRequest'
            examples:
              default:
                value:
                  sourceSystem: RMSV
                  externalId: rmsv-vat-food-15
                  companyExternalId: rmsv-company-120
                  name: Food
                  code: FOOD_15
                  ratePercent: 15
                  active: true
                  updatedAtSource: '2026-03-10T10:45:00Z'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v2/availability/check:
    post:
      tags:
      - Availability
      summary: Evaluate whether a basket can be ordered for a requested service and
        time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityCheckRequest'
            examples:
              delivery:
                value:
                  deviceId: dev_8
                  serviceType: DELIVERY
                  requestedAt: '2026-03-09T18:30:00+01:00'
                  customer:
                    address:
                      street: Storgata 10
                      postalCode: '7713'
                      city: Steinkjer
                      country: 'NO'
                  items:
                  - itemId: item_123
                    quantity: 2
              scheduledDelivery:
                value:
                  deviceId: dev_8
                  serviceType: DELIVERY
                  requestedAt: '2026-03-09T20:00:00+01:00'
                  customer:
                    address:
                      street: Storgata 10
                      postalCode: '7713'
                      city: Steinkjer
                      country: 'NO'
                  items:
                  - itemId: item_123
                    quantity: 2
      responses:
        '200':
          description: Availability result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityCheckResponse'
              examples:
                available:
                  value:
                    data:
                      available: true
                      reasonCode: OK
                      windows:
                      - from: '2026-03-09T18:45:00+01:00'
                        to: '2026-03-09T19:00:00+01:00'
                      estimate:
                        leadTimeMinutes: 20
                        readyAt: '2026-03-09T18:35:00+01:00'
                      pricing:
                        deliveryFee: 59
                        minimumOrderAmount: 200
                        currencyCode: NOK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: checkAvailability
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      description: Evaluates whether the requested basket can be fulfilled for the
        requested service type and time, and returns operational pricing and timing
        guidance.
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
  /api/v2/orders:
    get:
      tags:
      - Orders
      summary: List orders
      parameters:
      - name: locationId
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/OrderStatus'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      - name: channel
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/OrderChannel'
      - name: createdFrom
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: createdTo
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Orders list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
              examples:
                default:
                  value:
                    data:
                    - id: ord_9001
                      channel: ONLINE
                      status: NEW
                      paymentStatus: AUTHORIZED
                      locationId: loc_10
                      deviceId: dev_8
                      service:
                        type: DELIVERY
                        requestedTime: ASAP
                        deliveryAddress:
                          street: Storgata 10
                          postalCode: '7713'
                          city: Steinkjer
                          country: 'NO'
                      totals:
                        subtotal: 320
                        deliveryFee: 59
                        total: 379
                        currencyCode: NOK
                      createdAt: '2026-03-09T18:12:00+01:00'
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: listOrders
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      x-list-contract: canonical-page-sort-fields
      x-supported-filters: orders
      description: List order summaries. Use GET /api/v2/orders/{orderId} for full
        order details including items.
    post:
      tags:
      - Orders
      summary: Create order in the canonical Order Core format
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
            examples:
              onlineDelivery:
                value:
                  channel: ONLINE
                  deviceId: dev_8
                  locationId: loc_10
                  employeeId: null
                  customer:
                    name: Ola Nordmann
                    phone: '+4799999999'
                    email: ola@example.com
                  service:
                    type: DELIVERY
                    requestedTime: ASAP
                    deliveryAddress:
                      street: Storgata 10
                      postalCode: '7713'
                      city: Steinkjer
                      country: 'NO'
                  items:
                  - itemId: item_123
                    quantity: 2
                    note: No onion
                    modifierSelections:
                    - modifierId: mod_1
                      quantity: 1
                  payment:
                    method: ADYEN_ECOM
                    status: AUTHORIZED
                  externalReference: rmsv-ord-9001
                  metadata: {}
              scheduledDelivery:
                value:
                  channel: ONLINE
                  deviceId: dev_8
                  locationId: loc_10
                  customer:
                    name: Ola Nordmann
                    phone: '+4799999999'
                  service:
                    type: DELIVERY
                    requestedTime: '2026-03-09T20:00:00+01:00'
                    deliveryAddress:
                      street: Storgata 10
                      postalCode: '7713'
                      city: Steinkjer
                      country: 'NO'
                  items:
                  - itemId: item_123
                    quantity: 2
                  payment:
                    method: ADYEN_ECOM
                    status: AUTHORIZED
                  externalReference: rmsv-ord-9002
              pickupGuestCheckout:
                value:
                  channel: KIOSK
                  deviceId: dev_22
                  locationId: loc_10
                  customer:
                    name: Guest Checkout
                    phone: '+4700000000'
                  service:
                    type: PICKUP
                    requestedTime: ASAP
                  items:
                  - itemId: item_700
                    quantity: 1
                    modifierSelections:
                    - modifierId: mod_1
                      quantity: 1
                  payment:
                    method: TERMINAL
                    status: PENDING
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              examples:
                created:
                  value:
                    data:
                      id: ord_9001
                      channel: ONLINE
                      status: NEW
                      paymentStatus: AUTHORIZED
                      service:
                        type: DELIVERY
                        requestedTime: ASAP
                        readyAt: '2026-03-09T18:35:00+01:00'
                      totals:
                        subtotal: 320
                        deliveryFee: 59
                        total: 379
                        currencyCode: NOK
                      createdAt: '2026-03-09T18:12:00+01:00'
        '409':
          description: Duplicate idempotency key or conflicting order state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation failed or request state is semantically invalid
            for order creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                closedDevice:
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: Request validation failed.
                      details:
                        service.requestedTime:
                        - The requested time is outside the device opening window.
                outOfStock:
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: Request validation failed.
                      details:
                        items.0.itemId:
                        - The selected item is unavailable for the requested service
                          type.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: createOrder
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: true
        header: Idempotency-Key
        behavior: Returns the original result for safe client retries.
  /api/v2/orders/{orderId}:
    get:
      tags:
      - Orders
      summary: Get order
      parameters:
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              examples:
                default:
                  value:
                    data:
                      id: ord_9001
                      channel: ONLINE
                      status: NEW
                      paymentStatus: AUTHORIZED
                      locationId: loc_10
                      deviceId: dev_8
                      customer:
                        name: Ola Nordmann
                        phone: '+4799999999'
                        email: ola@example.com
                      service:
                        type: DELIVERY
                        requestedTime: ASAP
                        deliveryAddress:
                          street: Storgata 10
                          postalCode: '7713'
                          city: Steinkjer
                          country: 'NO'
                        readyAt: '2026-03-09T18:35:00+01:00'
                      items:
                      - itemId: item_123
                        quantity: 2
                        note: No onion
                        modifierSelections:
                        - modifierId: mod_1
                          quantity: 1
                      totals:
                        subtotal: 320
                        deliveryFee: 59
                        total: 379
                        currencyCode: NOK
                      externalReference: rmsv-ord-9001
                      metadata: {}
                      createdAt: '2026-03-09T18:12:00+01:00'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getOrder
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      description: Get full order details including line items, service information,
        totals, and metadata.
  /api/v2/orders/{orderId}/accept:
    post:
      tags:
      - Orders
      summary: Accept order
      parameters:
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: acceptOrder
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
      x-allowed-from-statuses:
      - NEW
      x-transition-to: ACCEPTED
      description: 'Allowed when current order status is one of: NEW. Returns HTTP
        409 for illegal transitions.'
  /api/v2/orders/{orderId}/reject:
    post:
      tags:
      - Orders
      summary: Reject order
      parameters:
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderActionReasonRequest'
      responses:
        '200':
          description: Order rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingReason:
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: Request validation failed.
                      details:
                        reason:
                        - A reason is required when rejecting a paid order.
      operationId: rejectOrder
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
      x-allowed-from-statuses:
      - NEW
      x-transition-to: REJECTED
      description: 'Allowed when current order status is one of: NEW. Returns HTTP
        409 for illegal transitions.'
  /api/v2/orders/{orderId}/mark-in-progress:
    post:
      tags:
      - Orders
      summary: Mark order in progress
      parameters:
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: markOrderInProgress
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
      x-allowed-from-statuses:
      - ACCEPTED
      x-transition-to: IN_PROGRESS
      description: 'Allowed when current order status is one of: ACCEPTED. Returns
        HTTP 409 for illegal transitions.'
  /api/v2/orders/{orderId}/mark-ready:
    post:
      tags:
      - Orders
      summary: Mark order ready
      parameters:
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: markOrderReady
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
      x-allowed-from-statuses:
      - IN_PROGRESS
      x-transition-to: READY
      description: 'Allowed when current order status is one of: IN_PROGRESS. Returns
        HTTP 409 for illegal transitions.'
  /api/v2/orders/{orderId}/fulfill:
    post:
      tags:
      - Orders
      summary: Fulfill order
      parameters:
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order fulfilled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: fulfillOrder
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
      x-allowed-from-statuses:
      - READY
      x-transition-to: FULFILLED
      description: 'Allowed when current order status is one of: READY. Returns HTTP
        409 for illegal transitions.'
  /api/v2/orders/{orderId}/cancel:
    post:
      tags:
      - Orders
      summary: Cancel order
      parameters:
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderActionReasonRequest'
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingReason:
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: Request validation failed.
                      details:
                        reason:
                        - A reason is required when cancelling an order after acceptance.
      operationId: cancelOrder
      x-domain-owner: Order Core
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
      x-allowed-from-statuses:
      - NEW
      - ACCEPTED
      - IN_PROGRESS
      x-transition-to: CANCELLED
      description: 'Allowed when current order status is one of: NEW, ACCEPTED, IN_PROGRESS.
        Returns HTTP 409 for illegal transitions.'
  /api/v2/webhooks:
    get:
      tags:
      - Webhooks
      summary: List webhook registrations
      responses:
        '200':
          description: Webhooks list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
              examples:
                default:
                  value:
                    data:
                    - id: wh_123
                      url: https://partner.example.com/plorea/webhooks
                      events:
                      - order.created
                      - order.status.changed
                      - payment.authorized
                      active: true
                      createdAt: '2026-03-09T10:00:00+01:00'
                    meta:
                      page: 1
                      pageSize: 20
                      total: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: listWebhooks
      x-domain-owner: Integrations
      x-audience: public
      x-release-stage: draft
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      x-list-contract: canonical-page-sort-fields
      x-supported-filters: webhooks
    post:
      tags:
      - Webhooks
      summary: Create webhook registration
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
            examples:
              create:
                value:
                  url: https://partner.example.com/plorea/webhooks
                  secret: whsec_xxx
                  events:
                  - order.created
                  - order.status.changed
                  - payment.authorized
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
              examples:
                created:
                  value:
                    data:
                      id: wh_17
                      url: https://partner.example.com/plorea/webhooks
                      events:
                      - order.created
                      - order.status.changed
                      - payment.authorized
                      active: true
                      createdAt: '2026-03-09T18:00:00+01:00'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: createWebhook
      description: 'Registers a webhook endpoint that will receive event payloads
        matching the WebhookEvent schema.


        Outbound deliveries include X-Plorea-Signature, X-Plorea-Timestamp, and X-Plorea-Delivery-Id
        headers. Consumers should verify the HMAC-SHA256 signature against the raw
        request body and reject stale timestamps.'
      x-domain-owner: Integrations
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: true
        header: Idempotency-Key
        behavior: Returns the original result for safe client retries.
  /api/v2/webhooks/{webhookId}:
    patch:
      tags:
      - Webhooks
      summary: Update webhook registration
      parameters:
      - $ref: '#/components/parameters/WebhookId'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
      operationId: updateWebhook
      x-domain-owner: Integrations
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
  /api/v2/webhooks/{webhookId}/test:
    post:
      tags:
      - Webhooks
      summary: Send a test event to webhook endpoint
      parameters:
      - $ref: '#/components/parameters/WebhookId'
      responses:
        '202':
          description: Test webhook dispatched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicMessageResponse'
              examples:
                dispatched:
                  value:
                    data:
                      message: Test webhook dispatched.
                      sampleEvent: &id001
                        eventId: evt_123
                        eventType: order.created
                        occurredAt: '2026-03-09T18:12:00+01:00'
                        data:
                          orderId: ord_9001
                          externalReference: rmsv-ord-9001
                          locationId: loc_10
                          deviceId: dev_8
                          status: NEW
                          paymentStatus: AUTHORIZED
                          total: 379
                          currencyCode: NOK
                        eventVersion: 1
                        schemaVersion: '2026-03-10'
                acceptedForDelivery:
                  value:
                    data:
                      message: Test webhook event queued for delivery.
                      delivery:
                        deliveryId: whd_123
                        webhookId: wh_123
                        eventType: order.created
                        status: PENDING
                        attemptCount: 0
                        retryPolicy:
                          strategy: exponential-backoff
                          maxAttempts: 6
                          scheduleSeconds:
                          - 0
                          - 30
                          - 120
                          - 600
                          - 1800
                          - 7200
                        attempts: []
          headers:
            X-Plorea-Delivery-Id:
              $ref: '#/components/headers/X-Plorea-Delivery-Id'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: testWebhook
      x-domain-owner: Integrations
      x-audience: public
      x-release-stage: draft
      x-idempotency:
        supported: false
        behavior: Not supported on this operation.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        maxLength: 255
      description: Recommended for create/update commands that must be replay-safe.
    CompanyId:
      name: companyId
      in: path
      required: true
      schema:
        type: string
    LocationId:
      name: locationId
      in: path
      required: true
      schema:
        type: string
    EmployeeId:
      name: employeeId
      in: path
      required: true
      schema:
        type: string
    DeviceId:
      name: deviceId
      in: path
      required: true
      schema:
        type: string
    MenuId:
      name: menuId
      in: path
      required: true
      schema:
        type: string
    ItemId:
      name: itemId
      in: path
      required: true
      schema:
        type: string
    OrderId:
      name: orderId
      in: path
      required: true
      schema:
        type: string
    WebhookId:
      name: webhookId
      in: path
      required: true
      schema:
        type: string
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
        example: name,-createdAt
      description: Comma-separated field list for sorting. Prefix a field with - for
        descending order.
    Fields:
      name: fields
      in: query
      required: false
      schema:
        type: string
        example: id,name,active
      description: Optional sparse fieldset. Comma-separated list of top-level response
        fields to include where supported.
  responses:
    UnauthorizedError:
      description: Authentication failed or token missing
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unauthorized:
              value:
                error:
                  code: UNAUTHORIZED
                  message: Authentication failed.
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            notFound:
              value:
                error:
                  code: NOT_FOUND
                  message: Resource not found.
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
    ForbiddenError:
      description: Authenticated but not allowed to perform this action
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            forbidden:
              value:
                error:
                  code: FORBIDDEN
                  message: You do not have permission to perform this action.
    ConflictError:
      description: Request conflicts with current resource state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            conflict:
              value:
                error:
                  code: CONFLICT
                  message: The request conflicts with the current resource state.
    RateLimitError:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            rateLimited:
              value:
                error:
                  code: RATE_LIMITED
                  message: Too many requests. Please retry later.
  schemas:
    LoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
      x-release-stage: draft
      x-audience: public-write
      x-required-review: v2.4-complete
      x-validation-rules:
        email:
        - required
        - email
        password:
        - required
        - string
        - min:8
    DataEnvelope:
      type: object
      properties:
        data: {}
        meta:
          type: object
          additionalProperties: true
      x-release-stage: draft
      x-audience: public
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
            message:
              type: string
            details:
              oneOf:
              - type: object
                additionalProperties: true
              - type: array
                items: {}
              - type: string
              - type: 'null'
              description: Optional structured error details. Validation errors should
                return an object keyed by field path.
      x-release-stage: draft
      x-audience: public-read
    BasicMessageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            message:
              type: string
      x-release-stage: draft
      x-audience: public-read
    AuthToken:
      type: object
      required:
      - token
      - tokenType
      - expiresAt
      properties:
        token:
          type: string
        tokenType:
          type: string
          example: Bearer
        expiresAt:
          type: string
          format: date-time
      x-release-stage: draft
      x-audience: public
    AuthLoginResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AuthToken'
      x-release-stage: draft
      x-audience: public-read
    Me:
      type: object
      properties:
        integrationId:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        scopes:
          type: array
          items:
            type: string
      x-release-stage: draft
      x-audience: public
    MeResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Me'
      x-release-stage: draft
      x-audience: public-read
    CompanyCapabilities:
      type: object
      properties:
        menuInUse:
          type: boolean
        adminCodeEnabled:
          type: boolean
        adyenEcomEnabled:
          type: boolean
      x-release-stage: draft
      x-audience: public
    CountryRef:
      type: object
      properties:
        id:
          type: string
        iso:
          type: string
        name:
          type: string
      x-release-stage: draft
      x-audience: public
    LanguageRef:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        name:
          type: string
      x-release-stage: draft
      x-audience: public
    CurrencyRef:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        symbol:
          type: string
        country:
          type: string
      x-release-stage: draft
      x-audience: public
    Company:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        organizationNumber:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        website:
          type: string
          format: uri
        about:
          type: string
          nullable: true
        shortCode:
          type: string
          nullable: true
        country:
          $ref: '#/components/schemas/CountryRef'
        currency:
          $ref: '#/components/schemas/CurrencyRef'
        language:
          $ref: '#/components/schemas/LanguageRef'
        capabilities:
          $ref: '#/components/schemas/CompanyCapabilities'
        settings:
          type: object
          additionalProperties: true
      x-db-mapping:
        table: companies
        fields:
          id: companies.id
          name: companies.name
          organizationNumber: companies.organization_number
          email: companies.email
          phone: companies.phone
          website: companies.url
          countryId: companies.country_id
          currencyId: companies.currency_id
          languageId: companies.language_id
          capabilities.menuInUse: companies.menu_in_use
          capabilities.adminCodeEnabled: companies.admin_code
          capabilities.adyenEcomEnabled: companies.adyen_ecom
          settings: companies.options
      x-release-stage: draft
      x-audience: public
      x-filterable-fields:
      - name
      - organizationNumber
      example:
        id: cmp_120
        name: Plorea Example
        organizationNumber: '123456789'
        email: contact@example.com
        phone: '+4744559988'
        website: https://example.com
        country:
          id: cty_30
          iso: 'NO'
          name: Norway
        currency:
          id: cur_89
          code: NOK
          symbol: kr
        language:
          id: lang_1
          code: nb
        capabilities:
          menuInUse: false
          adminCodeEnabled: true
          adyenEcomEnabled: true
        settings: {}
      description: Nullability review completed in v2.7; fields are non-null unless
        explicitly marked nullable.
    CompanyCreateRequest:
      type: object
      required:
      - name
      - countryId
      properties:
        name:
          type: string
        organizationNumber:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        website:
          type: string
          format: uri
        about:
          type: string
        shortCode:
          type: string
        countryId:
          type: integer
        currencyId:
          type: integer
        languageId:
          type: integer
        capabilities:
          $ref: '#/components/schemas/CompanyCapabilities'
        settings:
          type: object
          additionalProperties: true
      x-release-stage: draft
      x-audience: public-write
      x-required-review: v2.4-complete
      x-validation-rules:
        name:
        - required
        - string
        - max:255
        organizationNumber:
        - string
        - max:64
        email:
        - email
        currency.id:
        - string
        language.code:
        - string
    CompanyUpdateRequest:
      type: object
      properties:
        name:
          type: string
        organizationNumber:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        website:
          type: string
          format: uri
        about:
          type: string
        shortCode:
          type: string
        countryId:
          type: integer
        currencyId:
          type: integer
        languageId:
          type: integer
        capabilities:
          $ref: '#/components/schemas/CompanyCapabilities'
        settings:
          type: object
          additionalProperties: true
      x-release-stage: draft
      x-audience: public-write
      x-required-review: v2.6-patch-semantics-aligned
      x-validation-rules:
        name:
        - string
        - max:255
        organizationNumber:
        - string
        - max:64
        email:
        - email
        currency.id:
        - string
        language.code:
        - string
      description: Partial update payload. Omitted fields remain unchanged.
      minProperties: 1
      x-nullability-review: v2.7-reviewed
    CompanyResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Company'
      x-release-stage: draft
      x-audience: public-read
    CompanyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      x-release-stage: draft
      x-audience: public-read
    Address:
      type: object
      description: Read model for addresses. Coordinates may be returned when known,
        for example after geocoding or when stored on the underlying location/order.
      properties:
        street:
          type: string
        postalCode:
          type: string
        city:
          type: string
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          examples:
          - 'NO'
        coordinates:
          $ref: '#/components/schemas/Coordinates'
      x-release-stage: draft
      x-audience: public
      example:
        street: Arve Skjeflos Veg 8
        postalCode: '7713'
[...]
